# Node dependencies
node_modules/
package-lock.json
yarn.lock

# Tailwind output
public/build/
dist/
*.css.map

# System files
.DS_Store
Thumbs.db

# Logs and temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Editor configs
.vscode/
.idea/
*.swp